/* Initialize Fonts, Responsivness, common stuff and margins */

@media screen and (min-width: 801px) {
  .Ultimo__3Item__Container__Inner {
    grid-template-columns: 33.3% 33.3% 33.3%;
  }
}

@media screen and (max-width: 800px) {
  .Ultimo__3Item__Container__Inner {
    grid-template-columns: 50% 50%;
  }
}

/* Configuración carrousel */
.thumbs {
  visibility: hidden;
}

.carousel-status {
  visibility: hidden;
}

.thumbs-wrapper {
  visibility: hidden;
  display: none;
}

.Blank__Space {
  width: 100%;
  height: 30px;
}

/* Container de las prendas */
.Ultimo__3Item__Container {
  width: 100%;
}

.Ultimo__3Item__Container__Inner {
  display: grid;
  width: 80%;
  position: relative;

  left: 50%;
  transform: translate(-50%, 0%);
}

.fixedbutton {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  z-index: 90;
}

.fixedbutton:hover {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 55px;
  z-index: 90;
}
